"*.sqlite" 
"inst/extdata/*.sqlite" 
".Rproj.user/" 
".Rhistory" 
".RData" 
".Ruserdata" 
"*.tar.gz" 
"*.sqlite" 
"inst/extdata/*.sqlite" 
"*.sqlite" 
"inst/extdata/*.sqlite" 
"*.sqlite" 
"inst/extdata/*.sqlite" 
